body { background-color: gray; }
body * { box-sizing: border-box; }

/* Layout */

.search-app {
  margin: 30px auto;
  width: 600px;
}
#header {
  margin-bottom: 40px;
  padding: 30px; border: 5px solid #fff;
  text-align: center;
}
#main { margin: 0 auto; width: 450px; }

/* search input */

.search-input { text-align: center; }
.search-input input[type="text"] {
  padding: 10px; width: 100%; border: 5px solid #000;
  font-size: 20px;
}
.search-input input[type="text"]:focus { outline: none; }

/* search list */

.search-list {
  margin-top: 20px; padding: 20px;
  background-color: #a3a3a3;
}
.search-list li { padding: 6px 0; font-size: 20px; }

/* etc.. */

.progress-notice { text-align: center; }
